* {
    box-sizing: border-box;
}

/* 创建四个等宽的列，浮动在一起 */
.column {
    float: left;
    width: 20%;
    padding: 20px;
}

/* 清除列之后的浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 设置卡片的样式 */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px圆角 */
    width: 80%;
    margin: auto;
}

/* 鼠标悬停时，增加阴影 */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* 在卡片容器内添加一些内边距 */
.containerr  {
    padding: 2px 16px;
}

/* 给图片添加圆角 */
img {
    border-radius: 5px 5px 0 0;
}











